body {
    background-color: #181818;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.res-select {
    display: flex;
}

.action-panels {
    display: flex;
    gap: 20px;
    padding: 20px;
    height: 700px;
}

textarea {
    flex: 1;
    border-radius: 0px;

    background-color: #333344;
    color: #eeeeee;
    resize: none;
}

.canvas-stuff {
    flex: 2;
    min-width: 0;
    min-height: 0;

    gap: 20px;

    display: flex;
    flex-direction: column;
}

.canvas-preview {
    flex: 1;

    min-width: 0;
    min-height: 0;

    display: flex;
    justify-content: left;
    align-items: left;
    overflow: hidden;
}

#shader-canvas {
    display: block;
}

.canvas-controls {
    height: 40px;
    display: flex;
    gap: 20px;
}

.control-box {
    display: flex;
}